body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
    padding: 16px;
}

header h1 {
    font-weight: bold;
    margin: 0;
    padding-bottom: 12px;
    font-size: large;
}

ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding-left: 0;
}

ul a{
    text-decoration: none;
    padding: 12px;
    padding-left: 0;
    text-align: left;
    display: block;
    width: 100%;
    color: #69696a;
    font-size: large;
}

ul a:visited {
    text-decoration: none;
    color: #69696a;
}

.button {
    background-color: #000;
    border-radius: 20px;
    border: 1px solid #000;
    display: block;
    color: #FFF;
    font-size: large;
    padding: 12px; 
    text-decoration: none;
    width: 90%;
    text-align: center;
}

main {
    margin-top: 40px;
    margin-bottom: 30px;
}

main h2 {
    font-size: xx-large;
}

main p {
    border-left: #69696a 3px solid;
    padding-left: 16px;
    color: #69696a;
    font-size: large;
}

footer {
    margin: 0;
}

@media only screen and (min-width: 768px){

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    footer {

        position: relative;
        left: 50%;
        transform: translateX(-50%);
        
    }

    .foot {
        display: flex;
        justify-content: center;

    }

    .navlinks {
        display: flex;
        flex-direction: row;
        
    }

    ul {
        display: flex;
        flex-direction: row;
    }
    .button {
        width: auto;
        height: auto;
        
    }

    main {
        margin-top: 20%;
        display: flex;
        justify-content: space-between;
    }
  
    .info {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .circles {
        width: 50%;
        height: 360px;
        position: relative;

        
    }

    .circle1 {
        height: 72px;
        width: 72px;
        background-color: rgba(207, 130, 213, 0.6);
        border-radius: 50%;
        position: absolute;
        right: 30px;
        top: 24px;
        

    }

    .circle2 {
        height: 180px;
        width: 180px;
        background-color: rgba(247, 136, 167, 0.6);
        border-radius: 50%;
        position: absolute;
        right: 80px;
        top: inherit;
        

    }

    .circle3 {
        height: 108px;
        width: 108px;
        background-color: rgba(247, 193, 162, 0.7);
        border-radius: 50%;
        position: absolute;
        right: 30px;
        top: 80px;

    }
}